<!DOCTYPE html>
<html>
<head>
<title>Add Charcter page</title>
 <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
        <div class="jumbotron">
          <div class="description">
              <h1>Guess Who</h1>
              <p class="lead">Similar to 20 Questions and Akinator Web Genie. </br>
              
          </div>
          
          <div class="img-div">
              <img class="image" src="/static/images/linda.jpg">
          </div>
        </div>
  <div class="centerform">
    <form>
      <label>Enter Name: </label> <input type="text" name="Cname"/><br/>
      <label>Famous For: </label> <input type="text" name="famous"/><br/>
      <label>Associated with Franchises:</label><input type="text" name="franchise"/><br/>
      <label> Extra Helpful Information: </label> <input type="text" name="extra"/><br/>
      <button type="submit" name="add"><span> Add Character </span></button>
    </form>
  </div>
  <!-- End your code here -->
<script type="text/javascript" src="./static/js/script.js"></script>
</body>
</html>
