<!DOCTYPE html>
<html>
<head>
<title>start page</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<!-- Start your code here -->
<section>  <p class="headInfo"> <span> Guess Who</span> <br> 
Version of 20 Questions more like Akinator Web Genie. </p>
</section>
<section>
<p class="despInfo"> To start playing the game, think of a Character. <br> 
  Then Click Below and Answer set of questions of simple yes and no <br>
  <img src="/static/images/linda.jpg" alt="start image" height="200" width="200"/>
  The machine would guess the name. <br>
  If its wrong, please follow the link to add the character details
</p>
  <button type="submit" class="startbutton"> <span> Play Now </span> </button> 
  </section>
<!-- End your code here -->
<script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>