<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Guess Who</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header">
      </div>

      <div class="jumbotron">
        <h1>Guess Who</h1>
        <p class="lead">Version of 20 Questions more like Akinator Web Genie. </br>
        <a class="btn btn-lg btn-success" href='{% url "GuessWho" %}' role="button">Play Now</a></p>
        <div class="image">
            <img src="/static/images/linda.jpg" alt="start image" height="200" width="200"/>
        </div>  
      </div>
      
      <footer class="footer">
        <p>&copy; EvanMoreira and Prawjal Maredukonda</p>
      </footer>
    </div>
    
</html>