<!DOCTYPE html>
<html>
<head>
<title>start page</title>
<link type="text/css" rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!-- Start your code here -->
<div>  <p class="headInfo"> <span>Guess Who</span> <br> 
Version of 20 Questions more like Akinator Web Genie. </p>
</div>
  <div class="centertext">
    <img src="/static/images/linda.jpg"/>
    <p id="qtext">
question text
    </p>
    <p id="qoptions">
        <button type="submit" name="Yes">Yes</button>
        <button type="submit" name="No">No</button><br/>
        <button type="submit" name="M1">May be</button>
        <button type="submit" name="M1"> Don't Know</button>
    </p>
  </div>
  <!-- End your code here -->
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>