{% extends "index.html" %}

{% block content %}

 <div class="jumbotron">
            <div class="description">
                <h1>Guess Who</h1>
                <p class="lead">Similar to 20 Questions and Akinator Web Genie. </br>
                <a class="btn btn-lg btn-success" href='{% url "GuessWho" %}' role="button">Play Now</a></p>
            </div>
            
            <div class="img-div">
                <img class="image" src="/static/images/linda.jpg">
            </div>
        </div>
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>How to Play</h4>
                <p>
                    Think of a Character. <br> 
                    Then answer the questions with Yes, No, Maybe, or Don't Know <br>
                </p>
            </div>
        </div>
    <footer class="footer">
       <p>&copy; EvanMoreira and Prawjal Maredukonda</p>
    </footer> 

{% endblock %}