<!DOCTYPE html>
<html>
<head>
<title>start page</title>
<link type="text/css" rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!-- Start your code here -->
<div>  <p class="headInfo"> <span>Guess Who</span> <br> 
Version of 20 Questions more like Akinator Web Genie. </p>
</div>
  <div class="centerform">
    <form>
      <label>Enter Name: </label> <input type="text" name="Cname"/><br/>
      <label>Famous For: </label> <input type="text" name="famous"/><br/>
      <label>If Associated with Enterntainment Type in Franchises Invovled:</label><input type="text" name="franchise"/><br/>
      <label> Extra Helpful Information: </label> <input type="text" name="extra"/><br/>
      <button type="submit" name="add"><span> Add Character </span></button>
    </form>
  </div>
  <!-- End your code here -->
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>